.App {
  text-align: center;
}

.App-logo {
  height: 100%;
  vertical-align: middle;
  object-fit: contain;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-inner-layout {
  background-color: #f0f0f0;
  padding: 40px;
  min-height: 100%;
}

.App-header {
  background-color: #282c34;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  height: 10vh;
}

.App-content {
  background-color: #ffffff;
  text-align: center;
  padding: 50px;
  overflow: auto;
  min-height: calc(80vh - 80px);
}

.App-footer {
  background-color: #282c34;
  color: #ffffff;
  height: 10vh;
  vertical-align: bottom;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}